@import "~bootstrap/scss/bootstrap";
@import "./global.scss";


.app {
    min-height: 100vh;
    background: linear-gradient(90deg,#ff7b5c,#ff6c81);
    display: flex;
    background-attachment: fixed;

    @include mobile {
        background: linear-gradient(#ff7b5c,#ff6c81);
        height: 1500px;
        flex-direction: column;
        overflow: auto;
    }

    @include mobile-landscape {
        height: 750px;
    }

    .left {
        flex: 0.5;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile {
            width: 100vw;
            min-height: 750px;
            flex-shrink: 0;
        }

        @include mobile-landscape {
            height: inherit;
        }
    }

    .right {
        flex: 0.5;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile {
            width: 100vw;
            min-height: 750px;
            flex: 0.5;
        }

        @include mobile-landscape {
            height: inherit;
        }
    }
}
