@mixin mobile {
    @media (max-width: 930px) and (orientation: portrait) {
        @content;
    }
}

@mixin mobile-landscape {
    @media (max-height: 600px) and (orientation: landscape) {
        @content;
    }
}

@keyframes jumpflip {
    0%   { transform: translateY(0) rotate(0deg); }
    50%  { transform: translateY(-100px) rotate(180deg); }
    100% { transform: translateY(0) rotate(360deg); }
}